<h2>Angular 12</h2>
<nav>
  <ul>
    <li>
      <a routerLink="/about" routerLinkActive="active">About Component</a>
    </li>
      <li>
        <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a routerLink="/templateForm" routerLinkActive="active">templateForm</a>
    </li>
    <li>
      <a routerLink="/reactiveFrom" routerLinkActive="active">reactiveFrom</a>
    </li>
    <li>
      <a routerLink="/getDataFrom" routerLinkActive="active">getDataFrom</a>
    </li>
    <li>
      <a routerLink="/postDataFrom" routerLinkActive="active">postDataFrom</a>
    </li>
  </ul>
  <app-parents></app-parents>
</nav>
<router-outlet></router-outlet>
